<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>404</title>
    <link rel="icon" href="img/cloud.webp">
  </head>
  <body>
    <div class="main-content" >
    
    {{>headder}}
    <p>{{errorMessage}}</p>
    
    </div> 
    {{>footer}}
  </body>
</html>