  <html>
    <head>
      <title>About</title>
      <link rel="icon" href="img/cloud.webp">
      <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
      <div class="main-content" >
        {{>headder}}
      <img src="/img/batman.jpg" class="portrait" />
    
      </div>
    {{>footer}}
    </body>
  </html>
