<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="img/cloud.webp">
    
    <title>weather</title>
  </head>
  <body>
    <div class="main-content" >
      {{>headder}}

      <p>Use this site to get your weather</p>
    
    
    <form>
      <input placeholder="Location"> 
      <button>search</button>
    </form>
    
    <p id="message-1"></p>
    <p id="message-2"></p>

    </div>
    
    {{>footer}}

    <script src="/JS/app.js"></script>
  </body>
</html>